.item {
  border-width: thin;
  border-style: solid;
  border-color: tomato;
  border-radius: 5vh;
  width: 20vw;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  width: 80vw;
  background-color: antiquewhite;
  align-items: center;
  flex-direction: row;
  display: flex;
}
