h1 {
    color: rgb(34, 184, 218);
    font-size: 700%
}
#content{
    align-content: center;
    font-family: Mv Boli; 
    color: rgb(255, 255, 255);
   
}
a{
    text-decoration: none;
}
body{
    background: #05101a;
    background-image: url("./picture.jpg");
background-size: cover;
background-position: center top;
background-blend-mode: screen;
background-repeat: no-repeat;

}

h2{
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 300%;
}
p{

        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: Consolas;
    }
    a{
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #38d7ff;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }
    a:hover{
        color: #157592;
        background:#24f0ff; 
        box-shadow: 0 0 10px #196ca3, 0 0 40px #1670ac, 0 0 80px #16618b;
        transition-delay: 1s;
    }
    a span {
        position: absolute;
        display: block;
    }
    a span:nth-child(1){
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #2196f3)
    }
    a:hover span:nth-child(1){
        left: 100%;
        transition: 1s;
    }
    a span:nth-child(3){
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #2196f3)
    }
    a:hover span:nth-child(3){
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    a span:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #2196f3)
    }
    a:hover span:nth-child(2){
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    a span:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #2196f3)
    }
    a:hover span:nth-child(4){
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
    

table{
    margin-left: 2%;
    background-color: white;
    opacity:0.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:4%;
}